
mapping_files=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/inside/test/TEST_RUN//contigs.bam

sigma_contigs_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/inside/test/TEST_RUN//contigs/sigma/contigs_340_80

contigs_file_type=SOAPdenovo

contigs_file=/home/bertrandd/PROJECT_LINK/OPERA_LG/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/test_files/final.contigs_soap.fa

edges_files=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/inside/test/TEST_RUN//lib_1_bundles/clusters_contigs

output_dir=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/inside/test/TEST_RUN//contigs/sigma

edge_bundle_size_thr=2

kmer_size=60

contig_len_thr=500

contig_edge_len=80

contig_window_len=340

pdist_type=NegativeBinomial
