*~
\#*
*.o
OPERA-LG/bin/OPERA-LG
SIGMA/sigma.config
bin/bundler
bin/sigma
bin/short_read_analysis
complete_ref_genomes/
database_updated
genomeDB_Sketch.msh
utils/MUMmer3.23/
utils/download
utils/tmp_module.str
OPERA-LG/bin/OPERA-LG-fast
OPERA-LG/bin/get_paf_file.pl
OPERA-MS-1.1
SIGMA/debug
bin/OPERA-LG-fast
database_updated.bk
utils/perl
test_files/OPERA_MS*/
test_files/sample_output/
test_files/OUT/
test_files/RESULTS/
test_files/log.err


utils/metabat
utils/run_MaxBin.pl
utils/jgi_summarize_bam_contig_depths

OPERA-LG/bin/.#OPERA-long-read.pl

