# # # # # # # # # # # # # #
#Sigma configuration file
# # # # # # # # # # # # # #

# Type of contigs file.
# Currently, "SOAPdenovo" and "Velvet" are supported.
CONTIGS_FILE_TYPE SOAPdenovo

# Path to contigs file.
# contigs_file = /mnt/ScratchPool/bertrandd/OPERA_MS/simLC/ASSEMBLY/SOAP/contig.fa
#CONTIGS_FILE /mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/
CONTIGS_FILE /home/bertrandd/PROJECT_LINK/OPERA_LG/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/test_files/final.contigs_soap.fa

#The long read file
#User may enter an absolute path or a relative path from ../OPERA-MS
LONG_READ_FILE test_files/POOL.fa

#The first illumina read file
#User may enter an absolute path or a relative path from ../OPERA-MS
ILLUMINA_READ_1 test_files/mock1000.R1.fastq.gz

#The corresponding illumina read file.
#User may enter an absolute path or a relative path from ../OPERA-MS
ILLUMINA_READ_2 test_files/mock1000.R2.fastq.gz

#Input the __path__ to samtools, NOT THE EXECUTABLE. Comment out if samtools is in your PATH.
#SAMTOOLS /path/to/

#Input the path to blasr, NOT THE EXECUTABLE. Comment out if blasr is in your PATH.
BLASR_DIR /mnt/software/unstowable/smrtlink/smrtlink/smrtcmds/bin

#Input the version of OPERA-LG you are running. This should be the name of the folder of OPERA-LG inside of the OPERA-MS folder
#e.g : for the directory structure path/to/OPERA-MS/OPERA-LG_v2.x.x, put OPERA-LG_v2.x.x as the value.
OPERA_VERSION OPERA-LG_v2.1.0 /mnt/software/unstowable/smrtlink/smrtlink/smrtcmds/bin/blasr

# Comma separated paths to edges files.
#edges_files = /mnt/ScratchPool/bertrandd/OPERA_MS/simLC/ASSEMBLY/SOAP/MAPPING/BOWTIE/clusters_300.dat,/mnt/ScratchPool/bertrandd/OPERA_MS/simLC/ASSEMBLY/SOAP/MAPPING/BOWTIE/clusters_10k.dat
#EDGES_FILES /mnt/projects/bertrandd/sigma/simLC/ASSEMBLY/SOAP/MAPPING/BOWTIE/clusters_300_2k_10k.dat

# Path to Sigma contigs file.
#sigma_contigs_file = /mnt/ScratchPool/bertrandd/OPERA_MS/simLC/ASSEMBLY/SOAP/contigs_340_80
#SIGMA_CONTIGS_FILE /mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/

# Path to output directory.
#output_dir = /mnt/ScratchPool/bertrandd/OPERA_MS/simLC/SIGMA/SOAP/BOWTIE/300_10k
#OUTPUT_DIR /mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/
OUTPUT_DIR TEST_RUN1

# Threshold on the contig length.
# Shorter contigs are skipped and not clustered by the method.
# Default: 500
CONTIG_LEN_THR 500

# Contig edge length.
# Reads starting at both edges are not included in the read count/arrival rate
# computation to avoid "edge effects".
# Default: 0
CONTIG_EDGE_LEN 80

# Contig window length.
# If set to 0, contig-based scoring is used instead of window-based scoring.
# Default: 0
CONTIG_WINDOW_LEN 340

# Type of read count probability distribution.
# Currently, "Poisson" and "NegativeBinomial" are supported.
# Default: "Poisson"
PDIST_TYPE NegativeBinomial 

# Variance to mean ratio for negative binomial distribution.
# vmr = 2

# the KMER_SIZE 60
KMER_SIZE 60


