##################################################################################333
#REQUIRED PARAMETERS


#The long read file
#The relative path is relative from the directory of execution.
LONG_READ sample_files/sample_long_read.fasta

#The first illumina read file
ILLUMINA_READ_1 sample_files/sample_R1.fastq.gz

#The corresponding illumina read file.
ILLUMINA_READ_2 sample_files/sample_R2.fastq.gz

# Path to output directory.
OUTPUT_DIR sample_output


##################################################################################333
#OPTIONAL PARAMETERS

STRAIN_CLUSTERING YES

# Shorter contigs are skipped and not clustered by the method.
# Default: 500
CONTIG_LEN_THR 500

# Contig edge length.
# Reads starting at both edges are not included in the read count/arrival rate
# computation to avoid "edge effects".
# Default: 80
CONTIG_EDGE_LEN 80

# Contig window length.
# Default: 340
CONTIG_WINDOW_LEN 340

# The kmer size used in assembling the contigs.
# Default : 60
KMER_SIZE 60

#Number of precessor used during assembly
NUM_PROCESSOR 1

#Long read mapper used for the construction of assembly graph (blasr/minimap2)
LONG_READ_MAPPER blasr

# Path to contigs file.
CONTIGS_FILE sample_files/sample_contigs.fasta

