# Path to contigs file.
CONTIGS_FILE sample_files/sample_contigs.fasta

#The long read file
#The relative path is relative from the directory of execution.
LONG_READ_FILE sample_files/sample_long_read.fasta

#The first illumina read file
ILLUMINA_READ_1 sample_files/sample_R1.fastq.gz

#The corresponding illumina read file.
ILLUMINA_READ_2 sample_files/sample_R2.fastq.gz

#Input the path to blasr, NOT THE EXECUTABLE. Comment out if blasr is in your PATH.

#BLASR_DIR /path/to/directory

# Path to output directory.
OUTPUT_DIR TEST_RUN1

# SIGMA clutering threshold on the contig length.
# Shorter contigs are skipped and not clustered by the method.
# Default: 500
CONTIG_LEN_THR 500

# Contig edge length.
# Reads starting at both edges are not included in the read count/arrival rate
# computation to avoid "edge effects".
# Default: 80
CONTIG_EDGE_LEN 80

# Contig window length.
# Default: 340
CONTIG_WINDOW_LEN 340

# The kmer size used in assembling the contigs.
# Default : No default. Please specify the kmer size used in assembly. 
KMER_SIZE 60

NUM_PROCESSOR 10

#Input the path to the following tools, NOT THE EXECUTABLE. The user only needs to specify 
#this if the tool in /utils does not work AND the tool is not in your path..
#SAMTOOLS_DIR /path/to/
#BWA_DIR /path/to/
#VSEARCH_DIR /path/to/
