
samtools_dir=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/..//utils/

output_folder=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/OPERA_MS_NO_REF_output//intermediate_files/opera_long_read

contig_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/contigs.fasta

[LIB]
map_type=opera
map_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/OPERA_MS_NO_REF_output//intermediate_files/hierarchical_clustering/NO_REPEAT/filtered_pairedEdges_i0
lib_mean=300

lib_std=30

[LIB]
map_type=opera
map_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/OPERA_MS_NO_REF_output//intermediate_files/hierarchical_clustering/NO_REPEAT/filtered_pairedEdges_i1
lib_mean=1000

lib_std=100

[LIB]
map_type=opera
map_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/OPERA_MS_NO_REF_output//intermediate_files/hierarchical_clustering/NO_REPEAT/filtered_pairedEdges_i2
lib_mean=2000

lib_std=200

[LIB]
map_type=opera
map_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/OPERA_MS_NO_REF_output//intermediate_files/hierarchical_clustering/NO_REPEAT/filtered_pairedEdges_i3
lib_mean=5000

lib_std=500

[LIB]
map_type=opera
map_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/OPERA_MS_NO_REF_output//intermediate_files/hierarchical_clustering/NO_REPEAT/filtered_pairedEdges_i4
lib_mean=15000

lib_std=1500

[LIB]
map_type=opera
map_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/OPERA_MS_NO_REF_output//intermediate_files/hierarchical_clustering/NO_REPEAT/filtered_pairedEdges_i5
lib_mean=40000

lib_std=4000


cluster_threshold=1

cluster_increased_step=5

kmer=60
keep_repeat=yes
