
mapping_files=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/OPERA_MS_output//intermediate_files/read_mapping/opera.bam

sigma_contigs_file=OPERA_MS_output/intermediate_files/coverage_estimation/contigs_340_80

contigs_file_type=SOAP

contigs_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/contigs.fasta

edges_files=OPERA_MS_output/intermediate_files/lib_1_bundles/clusters_opera

output_dir=OPERA_MS_output/intermediate_files/coverage_estimation

edge_bundle_size_thr=2

kmer_size=60

contig_len_thr=500

contig_edge_len=80

contig_window_len=340

pdist_type=NegativeBinomial

samtools_dir=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/OPERA-MS-DEV/OPERA-MS/test_files/..//utils/
