
output_folder=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/inside/test/TEST_RUN//contigs/scaffolds

contig_file=/home/bertrandd/PROJECT_LINK/OPERA_LG/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/test_files/final.contigs_soap.fa

[LIB]
map_type=opera
map_file=/mnt/projects/bertrandd/opera_lg/META_GENOMIC_HYBRID_ASSEMBLY/SOFWARE/OPERA-MS/inside/test/TEST_RUN//contigs/sigma/filtered_clusters_contigs
lib_mean=178
lib_std=52

filter_repeat=no

cluster_threshold=2

cluster_increased_step=5

kmer=60
